.bg-banner {
    background-image: url('https://i.postimg.cc/g2dwXw5B/mr-Locker-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.mask-banner {
    background-color: rgba(0, 0, 0, 0.6);
    height: 600px;
}

.bg-banner-comon {
    background-image: url('https://i.postimg.cc/g2dwXw5B/mr-Locker-banner.jpg');
    height: auto;
}

.mask-comon {
    background-color: rgba(0, 0, 0, 0.745);
    height: auto;
}